logs/
crash-reports/
debug/
dumps/
screenshots/
shadercache/

saves/

libraries/
versions/
downloads/
assets/

usercache.json
usernamecache.json
supportercache.json
launcher_profiles.json
command_history.txt
*.log
*.log.gz

.cache/
*.tmp

.cl*_playtime*
.cl*_playtime_lastSession*

options.txt
optionsof.txt
optionsshaders.txt
